@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


ul{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}
ul li{
    padding-top: 0.4rem;
    list-style-type: none;
}
:root{
    --cl1: #dbe5f3;
    --cl2: #01052b;
    --cl3: #fdf9f9;
    --cl4: #e1e6e7;
    --cl5: #402ee0;
}

body{
    background-color: var(--cl3);
}

.warning{
    padding: 2rem;
    background-color: yellow;
    border: dashed black 4px;
    text-align: center;
    color: #000;
    font-weight: 600;
}
nav{
    color: var(--cl2);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Roboto", sans-serif;
    background-color: var(--cl1);
    height: 4rem;
}

nav span{
    font-size: large;
    text-decoration: underline;
}
.title{
    font-size: x-large;
    font-weight: 600;
    text-decoration: none;
}
.box{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: x-large;
    padding: 2rem;
    margin: 1rem;
    background-color: var(--cl4);
    border-radius: 2rem;
}
.kek{
    color: var(--cl5);
}

.btn-winner {
    background-color: white; 
    color: black; 
    border: 2px solid #04AA6D;
    transition-duration: 0.4s;
    border-radius: 0.5rem;
    padding: 0.2rem;
}
  
.btn-winner:hover {
    background-color: #04AA6D;
    color: white;
    transition-duration: 0.4s;
}
.plakat {
    display: flex;
    justify-content: center;
    align-items: center;
}
.plakatkep{
    width: 65vw;
    margin-top: 2rem;
}

@media only screen and (max-width: 500px ){

    .warning{
        padding-top: 1.5rem;
    }
    .title{
        font-size: large;
    }
    .box{
        font-size: medium;
        padding: 0.5rem;
        margin: 10px;
    }
    th{
        font-size: medium;
    }
    td{
        font-size: medium;
        background-color: rgba(0, 0, 0, 0);
    }
    .plakatkep{
        margin-top: 2rem;
        width: 95vw;
    }
}
